
h3 {
  font: 20px Helvetica, sans-serif;
  font-weight: bold;
}

h5 {
  font: 14px Helvetica, sans-serif;
  
}

p {
  font: 14px Helvetica, sans-serif;
}

#container {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    outline: 4px solid black;
    outline-offset: -1;
    justify-content: center;
  }
  
  #container>.projectcard {
    outline: 3px solid green;
    outline-offset: -1;
    flex: 1 0 calc(20% - 20px);
    min-width: 200px;
    min-height: 250px;
    text-align: center;
    margin: 10px;
    padding: 0 8px;
  }
  